# Build output
bin/
obj/

# User-specific Visual Studio files
*.user
*.suo
.vs/

# Rider
.idea/

# NuGet
*.nupkg
packages/

# OS
Thumbs.db
desktop.ini
.DS_Store

# Installer executables
installer/*.exe
